#
# A “MANIFEST.in” is needed in certain cases where you need to package 
# additional files that python setup.py sdist (or bdist_wheel) don’t
# automatically include. To see a list of what’s included by default, see the 
# "Specifying the files to distribute" section from the distutils documentation.

# include DESCRIPTION.rst
